<%- include('../../header.ejs') %>





    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
                                <li><a href="/admin/blogdisplay">Blogs</a></li>
                                <li><a href="/admin/categorydisplay">Categories</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="/contactdisplay">Contact Bolger</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>view category</h1>
                                    <h3 style="color: rgb(44, 84, 194); font-weight:75   ; ">Blog Edit of <br> <%= view._id %> <br></h3>
                                    <h3 style="color: rgb(61, 78, 129); ">Title is <b><%= view.title %> </b>of title</h3>
                                    <br>
                                </div>
                                <!-- <div class="dash-nav">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Add Categories
                                    </button>
                                </div> -->
                            </div>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>#ID</th>
                                    <th>Title</th>
                                </tr>
                                    <tr>
                                        <td><%= view._id %></td>
                                        <td><%= view.title %></td>
                                        
                                       
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Button trigger modal -->






    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/bloginsert" method="post">
                        <div class="mb-3">
                            <label for="">Title</label>
                            <input type="text" name="title" id="" class="form-control">
                        </div>

                        <div class="mb-3">
                            
                            <textarea name="description" id="" class="form-control">
                        </textarea>
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>


    <%- include('../../footer.ejs') %>