<%- include('../../header.ejs') %>





    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
                                <li><a href="/admin/blogdisplay">Blogs</a></li>
                                <li><a href="/admin/categorydisplay">Categories</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="/contactdisplay">Contact Bolger</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h3>Blog Edit of <%= blogedit._id %></h3>
                                    <h3 style="color: rgb(61, 78, 129); font-weight: 100;">Title is <b><%= blogedit.title %> </b>of title</h3>
                                </div>
                            </div>
                            <form action="/blogupdate/<%= blogedit._id %>" method="post"  enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="">Title</label>
                                    <input type="text" name="title" value="<%= blogedit.title %>" id="" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="">Description</label>
                                    <textarea name="description"  id="" class="form-control" required><%= blogedit.description %>
                                </textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="">Image</label>
                                    <input type="file" name="image">
                                    <img src="<%= blogedit.image.url %>" width="50" alt="">
                                </div>
                                <button type="submit" class="btn btn-info">update</button>        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Button trigger modal -->






    <!-- Modal -->
   


    <%- include('../../footer.ejs') %>